    </div>
  </div></div>

<div id="footer">
  <a class="footlogo" href="/">npm</a>

  <ul>
    <li><a href="/">npm Registry</a></li>
    <li><a href="/doc/">Documentation</a></li>
    <li><a href="https://raw.github.com/npm/npm/master/LICENSE">License</a></li>
    <li><a href="https://github.com/npm/npm-www/issues">Website Issues</a></li>
    <li><a href="http://nodejs.org/">Node.js Home</a></li>
    <li><a href="http://blog.npmjs.org/">Blog</a></li>
    <li><a href="http://status.npmjs.org/">Status</a></li>
  </ul>
</div>

<small class="heart">npm loves you</small>

<script src="/static/js/jquery-2.1.0.min.js"></script>
<script src="/static/js/d3.js"></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/sh_main.js"></script>
<script src="/static/js/sh_javascript.min.js"></script>
<script src="/static/js/aristotle.js"></script>
<script src="/static/js/hubspot.js"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/google-analytics.js"></script>
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script>
<script src="/static/js/include.js" async="true"></script>
<!-- <%= stamp %> -->
