<%- include('header.ejs', locals) %>

<h1>npm Enterprise open Beta</h1>

<p>npm Enterprise is an on-premises solution for securely sharing and distributing
JavaScript modules within your organization, from the team that maintains npm
and the public npm registry. It's designed for teams that need:
<ul>
  <li>easy internal sharing of private modules</li>
  <li>better control of development and deployment workflow</li>
  <li>stricter security around deploying open-source modules</li>
  <li>compliance with legal requirements to host code on-premises</li>
</ul>

<div id="enterprise-cta"><a class="hs-button primary large cta-link" href="#contact">Join the beta</a></div>

<h2>Features</h2>

<ul>
  <li><a href="#private">Private npm that just works</a></li>
  <li><a href="#scoped">Scoped modules give you private code, simply</a></li>
  <li><a href="#conflicts">Eliminate conflicts with public modules</a></li>
  <li><a href="#compatible">Works in concert with the public registry</a></li>
  <li><a href="#mirror">Selectively mirror the public registry</a></li>
  <li><a href="#install">Simple installation with npm</a></li>
  <li><a href="#github">Integrates with GitHub enterprise and other OAuth providers</a></li>
</ul>

<h3>See it in action</h3>

<iframe src="//player.vimeo.com/video/101880670" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<h3><a name="private">npmE is private npm</a></h3>

<p>npmE is an npm registry that works with the same standard npm client you
already use, but provides the features needed by larger organizations who
are now enthusiastically adopting node. It's built by npm, Inc., the sponsor
of the npm open source project and the host of the public npm registry.</p>

<h3><a name="scoped">Private, scoped modules</a></h3>

<p>Lots of companies using Node.js love the "many small modules" pattern that is
part of the Node culture. However, splitting internal applications and private
code up into small modules has been inconvenient, requiring git dependencies or
other workarounds to avoid publishing sensitive code to the public registry. npmE
makes private modules a first-class citizen. Just log in to your registry:

<p><code>npm login --registry=http://myreg.mycompany.com --scope=myco</code></p>

<p>Now you can install private modules without any additional work, the same way
you do with public modules:</p>

<p><code>npm install @myco/somepackage</code></p>

<p>npm automatically knows that any package with the <code>@myco</code> scope
should be installed from your npmE installation. Scoped packages will be
installed into your <code>node_modules</code> folder and can be used in your
JavaScript just like any other module:</p>

<pre><code>
require('@myco/somepackage');
</code></pre>

<p>Publishing private modules is similarly easy. Simply give your package name
a scope in package.json:</p>

<pre><code>
{
  "name": "@myco/anypackage",
  ..
}
</code></pre>

<p>Then publish as usual:</p>

<p><code>npm publish</code></p>

<p>npm will automatically publish to your npmE, and will refuse to publish
scoped packages to the public registry.</p>

<h3><a name="conflicts">Eliminate conflicts with public modules</a></h3>

<p>By their nature, the existence of scopes means you cannot create a module
that accidentally conflicts with an existing public package.</p>

<p>In addition, when you register a scope with npm Enterprise, we reserve that
  scope across all npm Enterprise users and the public registry. This will
  allow you to publish your modules publicly without needing to rename them
  when this feature becomes available in the public registry.</p>

<h3><a name="compatible">Works in concert with the public npm registry</a></h3>

<p>Depending on your security preferences, you can work with npmE in two ways:
<ol>
  <li>use it to host only your private modules, and use the public npm registry for
    any un-scoped modules, or</li>
  <li>configure npm to use your local npmE server for all modules, and use npmE
  to mirror the public packages you have approved for internal use</li>
</ol>

<p>This can be configured per-client, so your developers and your build server
can apply different levels of strictness about where they can install packages
from.</p>

<h3><a name="mirror">Selectively mirror the public registry</a></h3>

<p>npmE goes beyond a simple local cache of the registry. It allows you to
  selectively mirror the public registry, automatically inspecting every new and
  updated package available in the public registry and applying a security
  policy to determine if it should be made available locally. You can use
  pre-built filters, or you can write your own, which is as simple as writing
  an npm module and publishing it to your local registry. Some possible filters:

<ul>
  <li>Mirror the entire public registry as a local cache</li>
  <li>Mirror all packages except these blacklisted packages</li>
  <li>Mirror all versions of these whitelisted packages</li>
  <li>Mirror only approved versions of specific packages</li>
  <li>Mirror any package with an acceptable software license</li>
</ul>

<h3><a name="install">npm install npmE</a></h3>

<p>npmE runs locally, on a server you control, with no external dependencies
  (mirroring the public registry of course requires external internet access,
  but mirroring is optional). Many organizations want this for security, legal,
  or operational reasons.

<p>As you would expect, npmE is installed by npm! Our installation process
asks you a series of simple questions about your local environment, and sets
up all the services it needs to run.</p>

<p>npmE has been extensively tested on CentOS 6.5 and Ubuntu 14, and is
  supported on most recent public Linux distributions. It can run inside a
  virtual machine or on standard hardware. Since it can be configured to
  host only your private packages, its disk space requirements are
  significantly lighter than previous private registry solutions.</p>

<h3><a name="github">Integrates with GitHub and GitHub Enterprise</a></h3>

<p>If your organization uses GitHub or GitHub Enterprise, npmE can be configured
to automatically use them for login and access control. Simply add a
repository field to your package.json that points to your repo:</p>

<pre><code>
{
  ..
  "repository": {
    "url": "git://github.mycompany.com/myco/mypackage.git"
  }
}
</code></pre>

<p>Depending on your configuration, npmE can restrict installation of your
package to users who have access to the repo for that package, and restrict
publishing of that package to users who have commit access to the repo.</p>

<p>npmE uses OAuth to interact with GitHub, and will support any other OAuth2
providers. A standalone solution for authentication and authorization is
coming soon.</p>

<h2><a name="contact">Join the beta</a></h2>

<p>If you are interested in participating in the npmE beta program, please
provide the following information:</p>

<script charset="utf-8" src="https://js.hsforms.net/forms/current.js"></script>
<script src="/static/js/hubspot-form.js"></script>

<%- include('footer.ejs', locals) %>
